:root {
  --main-text-color: rgba(33, 33, 33, 1);
  --lead-text-color: rgba(117, 117, 117, 1);
  --accent-text-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(255, 255, 255, 0.6);
  --hover-text-color: rgba(33, 150, 243, 1);
  --primary-bg-color: rgba(47, 48, 58, 1);
  --logo-text-color: rgba(0, 0, 0, 1);
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-text-color);
  font-family: 'roboto', sans-serif;
  background-color: var(--accent-text-color);
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.comand {
  background: #f5f4fa;
}
.headers {
  border-bottom: 1px solid #ecec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list > .nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--hover-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo.header {
  margin-right: 93px;
}
.logo-head {
  color: var(--logo-text-color);
}

.web {
  color: var(--hover-text-color);
}

.nav {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--function-time);
}

.nav:hover,
.nav:focus {
  color: var(--hover-text-color);
}
.nav.current {
  color: var(--hover-text-color);
}

.nav.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-text-color);
  border-radius: 4px;
}

.contact-list {
  display: flex;

  margin-left: auto;
}
.contact-list > .list:not(:last-child) {
  margin-right: 50px;
}
.contact-header {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--lead-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--function-time);
}

.contact-header:hover,
.contact-header:focus {
  color: var(--hover-text-color);
}

.icon-phone {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}
.icon-phone:hover,
.icon-phone:focus {
  fill: var(--hover-text-color);
}

.icon-mail {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
  fill: var(--hover-text-color);
}

/* Заказать услугу */

.section.page {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: var(--primary-bg-color);

  text-align: center;

  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slogan {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--accent-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px transparent;

  color: var(--accent-text-color);
  background-color: var(--hover-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--function-time);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--function-time);
}

.btn-modal {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(0, 0, 0, 1);
}

/*  */

.aside-text {
  display: flex;
}

.aside-text > .aside-item:not(:last-child) {
  margin-right: 30px;
}
.item-antenna {
  width: 270px;
  height: 120px;
}
.icon-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
}

.aside {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--lead-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чим ми займаємося  */
.section.pic {
  padding-top: 0;
}
.desc-item {
  display: flex;
}

.desc-item > .item:not(:last-child) {
  margin-right: 30px;
}

.desc-text {
  position: relative;
}

.desc-contain {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

/* Наша команда */

.desc {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.desc-card {
  display: flex;
}
.desc-card > .card:not(:last-child) {
  margin-right: 30px;
}
.card {
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-item {
  padding-top: 30px;
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}

.profession {
  color: var(--lead-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.contact-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px 30px;
}
.linked {
  width: 44px;
  height: 44px;
}
.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: rgba(175, 177, 184, 1);
  border-radius: 50%;
  background-color: #ffffff;

  transition: fill 250ms var(--function-time), background-color 250ms var(--function-time);
}
.team-link:hover,
.team-link:focus {
  fill: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 1);
}
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: rgba(175, 177, 184, 1);
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: fill 2500ms var(--function-time), border 250ms var(--function-time);
}
.clients-icon:hover,
.clients-icon:focus {
  fill: rgba(33, 150, 243, 1);
  border: 1px solid #2196f3;
}

.clients-link {
  fill: rgba(175, 177, 184, 1);

  transition: fill 250ms var(--function-time);
}

.clients-link:hover,
.clients-link:focus {
  fill: rgba(33, 150, 243, 1);
}

/* Footer */

.container.footer {
  display: flex;
  align-items: baseline;
}
.container-linked {
  width: 231px;
}
.container-link {
  margin-left: 70px;
}
.container-spam {
  margin-left: 93px;
}
.socials {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.logo-footer {
  color: var(--accent-text-color);
}

.address {
  font-style: normal;
  font-family: inherit;
}
.contact-map {
  margin-top: 20px;
  margin-bottom: 9px;
}
.contact-mail {
  margin-bottom: 9px;
}

.map {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-footer {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms var(--function-time);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--hover-text-color);
}
.linked-link {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
.text-link {
  color: var(--accent-text-color);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--accent-text-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--function-time);
}

.team-link-footer:hover,
.team-link-footer:focus {
  background-color: rgba(33, 150, 243, 1);
}

.spam-link {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
.contact-form {
  display: flex;
}

.footer-email {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.footer-telegram {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

/* Porfolio */

.btn-filtr {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.btn-filtr > .button-filtr:not(:last-child) {
  margin-right: 8px;
}

.filtr {
  display: inline-block;
  padding: 6px 22px;

  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms var(--function-time), background-color 250ms var(--function-time),
    box-shadow 250ms var(--function-time);
}

.flex-filtr {
  display: flex;
  flex-wrap: wrap;
}

.flex-filtr > .filtr-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.filtr:hover,
.filtr:focus {
  color: var(--accent-text-color);
  background-color: var(--hover-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-card:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.portfolio-card {
  display: block;

  transition: box-shadow 250ms var(--function-time);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filtr-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.filtr-title {
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filtr-item {
  color: var(--lead-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.card-hiden {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms var(--function-time);
  background-color: rgba(33, 150, 243, 0.9);
}

.text-overlay {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.portfolio-card:hover .card-overlay {
  transform: translateY(0);
}
